<% layout('layouts/boilerplate') %>

<div class="container-sm">

    <div class="mt-3 mb-3" role="search">
        <div class="input-group">
            <label class="input-group-text" id="inputGroup-sizing-lg">Search Paper</label>
            <input type="search" class="form-control" id="searchBar" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="search paper by title">
        </div>
    </div>
    <div class="w-100 mb-3 text-center" id="search-content">
        
    </div>
    <div id="suggestions"></div>

    <form action="/api/v1/paper/sort" method="POST">
        <select class="form-select mb-3" name="programmeName" id="programmeName">
            <option value="<%= options?.programmeName %>"><%= options?.programmeName?.toUpperCase() || "--Please choose an option--" %></option>
            <option value="mca">MCA</option>
            <option value="btech">B.Tech</option>
            <option value="mtech">M.Tech</option>
            <option value="msc">M.Sc</option>
            <option value="other">Other</option>
        </select>

        <select class="form-select mb-3" name="semester" id="semester" required>
            <option value="<%= options?.semester %>"><%= options?.semester?.toUpperCase() || "--Please choose an option--" %></option>
            <option value="fall-sem">FALL-SEM</option>
            <option value="winter-sem">WINTER-SEM</option>
            <option value="summmer-sem">SUMMER-SEM</option>
            <option value="other">Other</option>
        </select>

        <select class="form-select mb-3" name="assessmentType" id="assessment-type" required>
            <option value="<%= options?.assessmentType %>"><%= options?.assessmentType?.toUpperCase() || "--Please choose an option--" %></option>
            <option value="cat-1">CAT-1</option>
            <option value="cat-2">CAT-2</option>
            <option value="mid-term">MID-TERM</option>
            <option value="fat">FAT</option>
            <option value="re-fat">RE-FAT</option>
            <option value="re-cat">RE-CAT</option>
            <option value="other">Other</option>
        </select>
        <input class="btn btn-primary w-20" type="submit" value="Sort">
    </form>

    <% for (paper of papers) { %>
        <div class="card text-dark mt-3 mb-3">
            <h5 class="card-header"><%= paper.courseTitle || paper.originalname %>
                <span class="badge rounded-pill text-bg-primary"><%= paper.programmeName %></span>
                <span class="badge rounded-pill text-bg-success"><%= paper.semester %></span>
                <span class="badge rounded-pill text-bg-warning"><%= paper.assessmentType %></span>
                <span class="badge rounded-pill text-bg-dark"><%= (paper.size / (1000 * 1000)).toFixed(2) %>MB</span>
                <span class="badge text-bg-light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                    </svg>
                    <%= paper.views %></span>
            </h5>
            <div class="card-body">
            <div class="mt-3 d-flex">
                <a class="btn btn-outline-primary" href="/api/v1/paper/view/<%= paper._id %>" target="_blank">View</a>
                <a class="btn btn-success ms-3" href="/api/v1/paper/view/<%= paper._id %>" download="<%= paper.originalname %>">Download</a>
            </div>
            </div>
        </div>
    <% } %> 
</div>
<script src="/js/suggestions.js"></script>